
body{
    height: 100%;
}
canvas{
    z-index: -1;
}
.md-nav-bar{
    border-color: #D4D4D4;
}
nav{
    background: whitesmoke;
    border-color: #D4D4D4;
    height: 100%;
}
.con_nav{
    background: whitesmoke;
}
.headline-bg.index-headline-bg {
    overflow:hidden;
    background:-webkit-linear-gradient(top,#0076d1,#5db8ff);
    background:-moz-linear-gradient(top,#0076d1,#5db8ff);
    background:-o-linear-gradient(top,#0076d1,#5db8ff);
    background:-ms-linear-gradient(top,#0076d1,#5db8ff)
}
.conchme{

}
.con_title{
    background: slateblue;
    height: 400px;
}

.conchhead{
    width: 160px;
    height: 160px;
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:18%;
    transform: translate(-50%,-50%); /*自己的50% */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
.conchhead img{
    width:142px;
    height: 142px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 9px solid rgba(0, 0, 0, 0.05);
    margin: 0px;
    padding: 0px;
}
.conchhead_net{
    font-size: 28px;
    font-family:"Calibri";
    width: 100%;
    height: 50px;
    text-align: center;
    position:absolute;
    left:50%;    /* 定位父级的50% */
    top:32%;
    transform: translate(-50%,-50%); /*自己的50% */
}
.conchhead_net p{
    background: #666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 3px 3px rgba(255,255,255,0.5);
}
.con_tent{
    z-index: 1;
    width: 100%;
}
.con_bottom{
    padding: 15px 0px 0px 0px;
    background: #303030;
    box-shadow: 0 -4px 5px -3px #949494;
}
.con_bottom_tail{

}
.con_bottom_panel{
    padding: 10px 25px 10px 25px;
    color:white;
}
.con_bottom_panel h4{
    margin-bottom: 20px;
}
.con_bottom_panel p{
    font-size:12px;
    font:SimHei;
    color:white;
}
.con_bottom_end{
    margin-top:10px;
    padding: 0px;
    background: black;
    height: 45px;
}
.con_bottom_end p{
    color:white;
    font-size:12px;
    font:SimHei;
}
.con_bottom1{
    padding: 15px;
    background: darkred;
}
.con_bottom2{
    padding: 15px;
    background: slateblue;
}
.con_bottom3{
    padding: 15px;
    background: chartreuse;
}
.view{
    height: 100%;
    width: 100%;
}