.main_panel{
    background: white;
    padding: 25px 10px 30px 10px;
    box-shadow: 0 -1px 0 0 #D4D4D4;
}
md-list{
    background: white;
    padding-bottom: 40px;
}
.main_title{
    text-align: center;
}
.blog_card{
    text-align: left;
    background: #F0FFFF;
}
.blog_card_span{
    font-size: 18px;
}
.label{
    font-size: 14px;
}
.main_title h3{
    margin: 0px;
    background: #474747;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 4px 4px rgba(255,255,255,0.5);
}
.main_dynamic_tit{
    margin: 15px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.05);
}
.bubble{
    width:0;
    height:0;
    border-top:20px solid transparent;
    border-left:5px solid transparent;
    border-right:30px solid #C6E2FF ;
    border-bottom:20px solid transparent;
}
/*隐藏列表下划线*/
md-divider{
    border: 0px;
}
md-card{
    margin: 10px;
}
.gradual_card{
    min-width: 200px;
    min-height: 160px;
}
.md-list-item-panel{
    width: 100%;
    border-radius:15px;
    margin-top: 10px;
    min-height: 66px !important;
    margin-bottom: 10px;
    padding:15px 30px 5px 30px;
    background-image: -moz-linear-gradient(top, #8fa1ff, #3757fa); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BFEFFF), color-stop(1, #C6E2FF)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0'); /* IE*/
    box-shadow: 4px 4px 5px #F4F4F4;
}
.md-list-item-panel span{
    font-size: 16px;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
    color: #3D3D3D;
}
.md-list-item-panel p{
    font-size: 14px;
    padding: 8px 0px 0px 0px;
    font-family: STSong;
}
.md-list-item-panel span{
    margin-right: 10px;
    padding-bottom: 2px;
}
.main_blog{
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.main_dynamic{
    text-align: left;
}
.md-whiteframe{
    height: 20px;
    background: black;
}
.main_photo{
    margin:0px;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.main_phtot_title{
    margin-bottom: 20px;
}
.main_photo_img{
    height: 240px;
}
.main_photo_mask{
    padding: 0px 10px 0px 10px;
    display: none;
    position: absolute;
    top: 0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.5);;
    transition:height 0.5s,transform 0.5s;
    z-index:111;
    height: 0px;
    width: 100%;
    opacity:0.7;
    color: black;
}
.main_photo_tit{
    font-size: 24px;
    text-align: center;
    font-family:SansSerif;
    padding:5px 0px 10px 0px;
    color:white;
}
.main_photo_body{
    word-wrap:break-word;
    word-break:break-all;
    color:white;
}
.main_ship{
    text-align: center;
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}