/*layout-xs-*/
@media screen and (max-width: 600px){
    .blog_matter{
        padding: 0px !important;
    }
    .blog_news{
        width:100%;
        min-height: 45px;
        line-height: 35px;
        padding: 2px 0px 10px 15px;
    }
    .menu{
        margin: 0px;
        padding:5px;
    }
    .blog_commDate{
        margin: 5px;
    }
    .label-autoheight{
        margin: 20px 0px 20px 0px;
    }
    .blog{
        padding: 5px;
        background-color: white;
    }
    .blog_batter{
        margin: 10px 15px 5px 15px;
    }
    .blog_heard h3{
        margin: 0px;
        padding: 5px 15px 0px 15px;
        line-height: 65px;
    }
}
/*layout-sm-*/
@media (max-width: 959px) and (min-width: 600px){
    .menu{
        margin: 0px;
        padding:5px;
    }
    .blog_news{
        width:100%;
        min-height: 45px;
        line-height: 35px;
        padding: 2px 0px 10px 15px;
    }
    .blog_commDate{
        margin: 0px;
    }
    .label-autoheight{
        margin: 0px;
    }
    .blog{
        padding: 10px 5px 15px 5px;
        background-color: white;
    }
    .blog_batter{
        margin: 10px 15px 5px 15px;
    }
    .blog_heard h3{
        margin: 0px;
        padding: 5px 0px 0px 15px;
        line-height: 65px;
    }
}
/*layout-md-*/
@media screen and (max-width: 1279px) and (min-width: 960px){
    .menu{
        min-width: 345px !important;
        width: 345px;
        margin: 0px;
        padding:5px;
    }
    .blog_news{
        width:100%;
        min-height: 45px;
        line-height: 35px;
        padding: 2px 0px 10px 15px;
    }
    .blog_commDate{
        margin: 0px;
    }
    .blog_batter{
        margin: 10px 15px 5px 15px;
    }
    .blog{
        flex: 1;
        margin: 5px 10px 0px 8px;
        background-color: white;
    }
    .blog_heard h3{
        margin: 0px;
        padding: 5px 0px 0px 15px;
        line-height: 65px;
    }
}
/*layout-lg-xl-*/
@media screen and (min-width: 1280px){
    .menu{
        min-width: 365px !important;
        width: 365px;
        margin: 0px;
        padding:5px;
    }
    .blog_news{
        padding: 2px 0px 10px 30px !important;
    }
    .blog_matter{
        padding: 0px;
    }
    .blog_commDate{
        margin: 0px;
    }
    .blog_batter{
        margin: 10px 29px 5px 29px;
    }
    .blog{
        flex:1;
        margin: 5px 10px 0px 10px;
        background-color: white;
    }
    .blog_heard h3{
        margin: 0px;
        padding: 5px 0px 0px 30px;
        line-height: 65px;
    }
}
#blog{
    min-height: 500px;
    width: 100%;
    display: flex;
}
span{
    color: black;
}
.blog_body{
    width: 100%;
    margin-bottom: 15px;
}
.blog_matter{
    padding: 20px;
    display: flex;
    flex-direction:column;
}
.blog_nav{
    height: 45px;
    border-bottom: 1px solid #D3D3D3;
}
.blog_nav_title{
    background: transparent;
    line-height: 40px
}
.blog_edit{
    padding: 20px 10px 10px 10px;
}
.blog_heard{
    width:100%;
    height: 65px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.blog_news span{
    font-size: 13px !important;
}
.blog_content{
    width: 100%;
    padding-bottom: 10px;
    min-height: 300px;
    background: white;
    display: flex;
}
.blog_loading{
    justify-content:center;
    width: 100%;
    min-height: 80px;
}
.blog_listloading{
    justify-content:center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}
.blog_listloading span{
    font-size: 14px;
    margin-right: 15px;
}
.blog_loading span{
    font-size: 18px;
    margin-right: 25px;
}

.blog_tool{
    height: 45px;
    width: 100%;
    border-top: 1px solid #D3D3D3;
}
.blog_commend{
    margin-bottom: 15x;
    width: 100%;
}
.blog_title{
    width: 100%;
    height: 45px;
    background: transparent;
    border-bottom: 1px solid #D3D3D3;
}
.blog_list_title{
    width: 100%;
    padding-left: 20px;
    background: transparent;
    border-bottom: 1px solid #D3D3D3;
}
.blog_comment_area{
    width: 100% ;
    padding: 10px 18px 5px 18px;
}
.blog_comment_discuss{
    width: 100%;
    height: 130px;
}
.blog_comment_sub{
    height: 65px;
    padding-left: 18px;
}
.blog_comment_submit{
    margin: 5px 10px 5px 5px;
}
.blog_list_user{
    margin:5px 0px 0px 20px;
}
.blog_list{

}
.blog_new{
    margin-top: 10px;
    padding: 0px;
    width: 100%;
}
.blog_comment{
    width: 100%;
    margin-bottom: 12px;
}
.blog-list-comm{
    padding: 0px 15px 0px 15px;
}
.blog_commentlist{
    margin-bottom: 15px;
    padding: 0px;
    width: 100%;
}
.blog_commentlist_list{
    height: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa;
}
.blog_list_null{
    width: 100%;
    font-size: 16px;
    min-height: 80px;
    display: flex;
}
.blog_list_null md-icon{
    color: black;margin-right: 10px;
}
.blog_commentlist_heard{
    padding: 15px 0px 15px 0px;
}
.blog_comment_dete{
    margin-left: 10px;
}
.blog_comment_date{
    color: #9E9E9E;
}
.blog_commentReply_heard{
    padding: 5px 0px 10px 0px;
}
.blog_commentlist_content{
    padding-left: 5px;
}
.blog_commentlist_Reply{
    flex:1;
    padding: 0px 0px 0px 10px;
}
.md-sub{
    background-color: #aaaaaa !important;
    color: white !important;
}
.validateImg{
    border: 1px solid #aaaaaa;
    width: 84px;height:34px;
}