md-menu-item{
    min-height: 0px !important;
}
md-menu-item>.md-button{
    padding: 0px;
    color: white;
}
#menu{
    margin:5px 0px 15px 0px;
    background: white;
}
.menuIco{
    color: #333333;
    padding: 3px;
}
.menuQuery{
    margin: 20px 0px 0px 0px;
    width: 100%;
    height:45px;
}
.conchTool{
    height: 59px;
    padding: 0px 5px 10px 5px;
}
.conchMenu{
    transition:width 0.5s;
}
.conchMenus{
    background:#333333;
    height: 100%;
    transition:width 0.5s;
}
md-menu-item>.md-button{
    padding: 0px !important;
    min-width:40px !important;
}
md-icon{
    min-width: 40px !important;
}
button{
    min-height: 0px !important;
}
.navMenu{
    padding-left:20px;
}
.conchNav{
    transition:height 0.5s;
    -moz-transition: height 0.5s;	/* Firefox 4 */
    -webkit-transition: height 0.5s;	/* Safari å’Œ Chrome */
    -o-transition: height 0.5s;	/* Opera */
}