<div class="blog_edit">
    <!--博文标题-->
    <div layout="row">
        <md-input-container flex>
            <label>博文标题</label>
            <input ng-model="editBlog.blogTitle">
        </md-input-container>
    </div>
    <div layout="row" layout-xs="column">
        <md-input-container flex-lg="30" flex-md="45" flex-sm="50" flex-xs="100">
            <label>类别</label>
            <md-select ng-model="editBlog.blogClass" required>
                <md-option ng-repeat="li in menulist" value="{{li.id}}">
                    {{li.name}}
                </md-option>
            </md-select>
            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">必须选择博文类别</div>
            </div>
        </md-input-container>
        <md-chips ng-model="editBlog.blogCate" readonly="ctrl.readonly" md-removable="ctrl.removable"
                  flex-lg="70" flex-md="55" flex-sm="50" flex-xs="100">
        </md-chips>
    </div>
    <!--博文内容-->
    <div layout="row">
        <div class="blog_body">
            <textarea name="editor1" id="editor1" ng-model="editBlog.blogBody"></textarea>
        </div>
    </div>
    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="closeEdit()">取消编辑</md-button>
        <md-button class="md-raised md-primary" ng-click="saveBlog()">保存修改</md-button>
    </div>
</div>