<div id="blog">
    <div class="menu">
        <!--博文列表-->
        <conchmenu></conchmenu>
        <!--相关推荐-->
        <div class="blog_commend" md-whiteframe="1">
            <div class="blog_title" layout ="row" layout-align ="center center">
                <h4>相关推荐</h4>
            </div>
            <div class="blog_list" ng-show="readBlogcomm">
                <md-menu-item ng-repeat="items in commlist" class="conchNav">
                    <md-button ng-click="getBlog(items)">
                        <span>
                            <md-icon
                                    md-svg-src="fonts/myfonts/file.svg"
                                    class="menuIco"
                                    aria-label="Cake">
                            </md-icon>
                        </span>
                        <span>{{items.name}}</span>
                    </md-button>
                </md-menu-item>
            </div>
            <div class="blog_listloading" layout="row" layout-align="center center" ng-show="!readBlogcomm">
                <span>正在加载推荐列表</span>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <!--最新更新-->
        <div class="blog_new" md-whiteframe="1">
            <div class="blog_title" layout ="row" layout-align ="center center">
                <h4>最新更新</h4>
            </div>
            <div class="blog_list">
                <div class="blog_list" ng-show="readBlogNew">
                    <md-menu-item ng-repeat="items in newlist" class="conchNav">
                        <md-button ng-click="getBlog(items)">
                        <span>
                            <md-icon
                                    md-svg-src="fonts/myfonts/file.svg"
                                    class="menuIco"
                                    aria-label="Cake">
                            </md-icon>
                        </span>
                            <span>{{items.name}}</span>
                        </md-button>
                    </md-menu-item>
                </div>
                <div class="blog_listloading" layout="row" layout-align="center center" ng-show="!readBlogNew">
                    <span>正在加载更新列表</span>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="blog_body" md-whiteframe="1">
            <!--博文导航-->
            <div class="blog_nav" >
                <ul class="breadcrumb blog_nav_title">
                    当前访问：
                    <li>
                        <a href="#">Net学习</a></span>
                    </li>
                    <li>
                        <a href="#">第一次学习Net</a></span>
                    </li>
                </ul>
            </div>
            <!--博文内容-->
            <div class="blog_matter">
                <!--博文标题-->
                <div class="blog_heard" ng-show="readblog">
                    <h3>{{blog.name}}</h3>
                </div>
                <!--博文信息-->
                <div class="blog_news" ng-show="readblog">
                    <span class="label label-default">发布时间：{{blog.creatDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    <span class="label label-info">浏览次数：{{blog.visit?blog.visit:0}}</span>
                </div>
                <!--博文内容-->
                <div ng-show="!readblog" class="blog_content">
                    <div class="blog_loading" layout="row" layout-align="center center">
                        <span>正在加载博文</span>
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
                <div ng-show="readblog">
                    <div class="blog_batter" ng-bind-html="blog.batter">

                    </div>
                </div>
            </div>
            <!--博文工具栏-->
            <div class="blog_tool">

            </div>
        </div>

        <!--发表评论-->
        <div class="blog_comment" md-whiteframe="1">
            <div class="blog_list_title" layout ="row" layout-align ="start center">
                <h4>发表评论</h4>
            </div>
            <div class="blog_list_user">
                <md-button class="md-fab md-mini" style="background: #F0F0F0" aria-label="Eat cake">
                    <span class="glyphicon glyphicon-user" style="color: #2f96b4"></span>
                </md-button>
                <span>匿名用户</span>
            </div>
            <div class="blog_comment_area">
                <textarea ng-model="setCommentValidate.commentContent" class="form-control blog_comment_discuss" rows="4" placeholder="请在此输入您的评论内容，严禁讨论敏感话题！" aria-invalid="false" style=""></textarea>
            </div>
            <div class="blog_comment_sub" layout="row" layout-align="end center">
                <span class="blog_comment_submit">
                    <img src="data:image/jpg;base64,{{validateImg.img}}" alt="验证码" class="validateImg switch">
                </span>
                <span class="blog_comment_submit">
                     <input type="text" ng-model="setCommentValue" class="form-control" id="name" placeholder="输入验证码，不区分大小写">
                </span>
                <span class="blog_comment_submit">
                     <md-button class="md-raised md-primary" ng-click="setComment(-1)">发表评论</md-button>
                </span>
            </div>
        </div>
        <!--评论列表-->
        <div class="col-lg-12 blog_commentlist" md-whiteframe="1">
            <div class="blog_list_title" layout ="row" layout-align ="start center">
                <span><h4>评论列表</h4></span>
            </div>
            <!--无回复内容-->
            <div class="blog_list_null" layout="row" layout-align="center center" ng-show="readBlogcommlist && commentlist.length<1">
                <span><md-icon md-svg-src="fonts/myfonts/cry.svg" style="color: black;margin-right: 10px;"></md-icon>喵了个咪的，竟然没人回复！</span>
            </div>
            <!--评论列表-->
            <div>
                <div class="col-lg-12 blog_commentlist_list" ng-repeat="item in commentlist" ng-show="readBlogcommlist">
                    <div>
                        <div class="col-lg-12 blog_commentlist_heard">
                            <span><img src="{{item.commentHeard}}" alt="" style="height: 40px;width:40px"></span><span style="padding-left: 20px;color:#337ab7">{{item.commentName}}</span>
                            <span class="pull-right">
                            <span>{{($index+1)}}楼</span>
                            <span>{{item.commentDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            <a href="">回复</a>
                        </span>
                        </div>
                        <div class="col-lg-12 blog_commentlist_content">
                            <p>{{item.commentContent}}</p>
                        </div>
                    </div>
                    <div class="col-lg-12" style="display: flex">
                        <div style="border-right: 2px solid #aaa;width: 20px">

                        </div>
                        <div class="blog_commentlist_Reply">
                            <div ng-repeat="reply in item.commentReplyList">
                                <div class="col-lg-12 blog_commentReply_heard">
                                    <span><img src="{{reply.commentHeard}}" alt="" style="height: 30px;width:30px;margin-right: 10px"></span>
                                    <span style="color:#337ab7">{{reply.commentName}}&nbsp@{{item.commentName}}</span>
                                    <span class="pull-right">
                                    <span>{{($index+1)}}楼</span>
                                    <span>{{item.commentDate|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                </span>
                                </div>
                                <div class="col-lg-12 blog_commentlist_content">
                                    <p>{{reply.commentContent}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog_loading" layout="row" layout-align="center center" ng-show="!readBlogcommlist">
                    <span>正在加载评论列表</span>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>

        </div>
    </div>


</div>