<md-dialog ng-controller="blogcateDialog" flex-lg="25" flex-md="35" flex-sm="40" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>类别管理</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="answer()">
                <span class="glyphicon glyphicon-remove" style="color: white"></span>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list style="padding: 20px 10px 5px 10px">
            <!--添加类别-->
            <md-list-item style="padding: 0px;">
                <div layout="row" layout-align="space-between start" flex="100">
                    <div style="padding-top: 10px" flex="auto">
                        <md-input-container style="width: 100%;margin: 0px">
                            <label>添加类别</label>
                            <input ng-model="insertCate.name" maxlength="25">
                        </md-input-container>
                    </div>
                    <div flex="8">
                        <md-button class="md-fab md-primary md-mini" style="width: 35px;height: 35px;line-height: 35px;" ng-click="addBlogCate()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </md-button>
                    </div>

                </div>
            </md-list-item>
            <!--类别列表-->
            <md-list-item ng-repeat="cate in blogCate" style="padding: 0px;">
                <div layout="row" layout-align="space-between start" flex="100">
                    <div style="padding-top: 10px" flex="auto">
                        <md-input-container  style="width: 100%;margin: 0px">
                            <input ng-model="cate.name" maxlength="25" ng-blur="updateBlogCate(cate)">
                        </md-input-container>
                    </div>

                    <div flex="8">
                        <md-button class="md-fab md-primary md-mini" style="width: 35px;height: 35px;line-height: 35px; background: #c82829" ng-click="deteBlogCate(cate)">
                            <span class="glyphicon glyphicon-remove" style="color: white"></span>
                        </md-button>
                    </div>

                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="answer()" class="md-primary">关闭</md-button>
    </md-dialog-actions>
</md-dialog>