<div class="col-lg-12" style="margin: 0px;padding: 0px">
    <div class="main_photo_img">
        <img class="img-thumbnail" ng-mouseenter="showMask(photo,true)"  src="{{photo.url}}" style="height: 240px;width: 100%">
        <div class="main_photo_mask"  ng-mouseleave="showMask(photo,false)" ng-style="photo.style">
            <!--<img src="" alt="{{photo.explain}}">-->
            <h4 class="main_photo_tit" ng-style="photo.fontstyle">{{photo.explain}}</h4>
            <span class="main_photo_body" ng-style="photo.fontstyle">{{photo.summary}}</span>
        </div>
    </div>
</div>