<div>
    <md-list-item class="md-4-line">
        <img class="main_dynamic_tit" ng-src="{{blogUser.userHeard}}" class="md-avatar" hide-xs>
        <div class="bubble" hide-xs>

        </div>
        <div class="md-list-item-panel" layout="column" layout-align="center start">
            <p class="md-list-item-panel_title" layout="row" layout-align="start center">
                {{item.dynamicDate|pastdate}}&nbsp
                发布{{item.dynamicTarget}}:&nbsp
                {{item.dynamicTitle}}
            </p>
            <div>
                <p ng-show="item.dynamicContext" style="font-size: 14px;font-family: 微软雅黑">{{item.dynamicContext}}</p>
            </div>
        </div>
    </md-list-item>
</div>