<div>
    <md-list-item class="md-4-line">
        <img class="main_dynamic_tit" ng-src="https://blog-1252305000.cos.ap-shanghai.myqcloud.com/User/me.webp" class="md-avatar" hide-xs>
        <div class="bubble" hide-xs>

        </div>
        <div class="md-list-item-panel md-list-item-text" layout="column" layout-align="center start">
            <div style="margin-bottom: 6px" layout="row" layout-align="start center">
                <span style="color: #4D4D4D">{{item.dynamicDate|date:"yyyy-MM-dd hh:mm:ss"}}</span>
                <span>{{item.dynamicAction}}{{item.dynamicTarget}}:</span>
                <span style="color:darkred">{{item.dynamicTitle}}</span>
            </div>
            <div>
                <p ng-show="item.dynamicContext" style="font-size: 16px">{{item.dynamicContext}}</p>
            </div>
        </div>
    </md-list-item>
</div>