<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="margin: 0px;padding: 0px">
    <div class="main_photo_img">
        <img class="img-thumbnail" ng-mouseenter="showMask(photpVisble[$index],true)"  src="{{photo.albumUrl}}" style="height: 240px;width: 100%">
        <div class="main_photo_mask"  ng-mouseleave="showMask(photpVisble[$index],false)" ng-style="photpVisble[$index].style">
            <!--<img src="" alt="{{photo.explain}}">-->
            <h4 class="main_photo_tit" ng-style="photo.albumName">{{photo.albumName}}</h4>
            <span class="main_photo_body" ng-style="photo.fontstyle">{{photo.albumBody}}</span>
        </div>
    </div>
</div>