<div id="main">
   <!-- 博文推荐-->
    <div class="main_title main_panel">
        <div>
            <h3>
                个人博文
            </h3>
        </div>
        <div class="main_blog" layout="row" layout-sm="column" layout-xs="column">
            <!--<conch-blog ng-show="readBlogList" ng-repeat="blog in blogList"></conch-blog>-->
            <div flex-xl="20" flex-lg="20" flex-md="30" flex-sm="100" flex-xs="100" style="padding-right: 10px">
                <md-subheader class="md-no-sticky">博文类别</md-subheader>
                <md-list flex ng-show="readBlogCate">
                    <md-list-item class="md-1-line main_blog_item" ng-repeat="item in blogCatelist" ng-click="setQueryBlogCate(item.id)">
                        <div class="md-list-item-text" layout="column">
                            {{item.name}}
                        </div>
                    </md-list-item>
                </md-list>
                <div ng-show="!readBlogCate" class="conch_loding" layout="row" layout-align="center center">
                    <span style="margin-right: 20px">正在加载博文类别</span>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
            <div flex-xl="80" flex-lg="80" flex-md="70" flex-sm="100" flex-xs="100" layout="column" layout="center center">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="item in blogKind" label="{{item}}" ng-click="setQueryBlogModel($index)">
                            <conch-blog ng-show="readBlogList"></conch-blog>
                        </md-tab>
                    </md-tabs>
                </md-content>
                <div class="main_blog_null" ng-show="blogList.length==0 && readBlogList">
                    <span class="glyphicon glyphicon-sunglasses"></span>
                    <span>我特喵这个类别竟然一篇博文都没写！</span>
                </div>
                <div ng-show="!readBlogList" class="conch_loding" layout="row" layout-align="center center">
                    <span style="margin-right: 20px">正在加载博文列表</span>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>

            <!--<div ng-show="!readBlogList" class="conch_loding" layout="row" layout-align="center center">-->
                <!--<span style="margin-right: 20px">正在加载博文列表</span>-->
                <!--<md-progress-circular md-mode="indeterminate"></md-progress-circular>-->
            <!--</div>-->

        </div>
    </div>
    <!--最新动态-->
    <div class="main_title main_panel">
        <div>
            <h3>
                最新动态
            </h3>
        </div>
        <div class="main_dynamic">
            <md-content>
                <md-list>
                    <conch-dynamic ng-show="readDynamic" ng-repeat="item in dynamicList"></conch-dynamic>
                    <div ng-show="!readDynamic" class="conch_loding" layout="row" layout-align="center center">
                        <span style="margin-right: 20px">正在加载动态列表</span>
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <!--发布动态-->
                    <div ng-if="user.userToken">
                        <md-list-item class="md-4-line">
                            <img class="main_dynamic_tit" ng-src="https://blog-1252305000.cos.ap-shanghai.myqcloud.com/User/me.webp" class="md-avatar" hide-xs>
                            <div class="bubble" hide-xs>

                            </div>
                            <div class="md-list-item-panel" style="padding: 20px 15px 10px 15px;display: flex;flex-direction:column">
                                <div flex="100" layout="row" layout-sm="column" layout-xs="column">
                                    <!--标题-->
                                    <md-input-container flex-lg="80" flex-md="70" flex-sm="100" flex-xs="100" style="margin: 3px 0px 0px 0px">
                                        <label>标题</label>
                                        <input ng-model="dynamicEdit.dynamicTitle" maxlength="55" required>
                                    </md-input-container>
                                    <md-input-container flex-lg="20" flex-md="30" flex-sm="100" flex-xs="100" style="margin: 0px">
                                        <label>动态类型</label>
                                        <md-select ng-model="dynamicEdit.dynamicTarget" required>
                                            <md-option ng-repeat="target in dynamicTarget" value="{{target}}">
                                                {{target}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="100" layout="column" layout-align="center end">
                                    <!--内容-->
                                    <md-input-container style="width: 100%;margin: 0px">
                                        <label>正文</label>
                                        <textarea ng-model="dynamicEdit.dynamicContext" md-maxlength="250" rows="3" md-select-on-focus required></textarea>
                                    </md-input-container>
                                    <md-button class="md-raised md-primary" ng-click="setDynamic()">
                                        <span class="glyphicon glyphicon-send" style="color: white"></span>
                                        发布动态
                                    </md-button>
                                </div>

                            </div>
                        </md-list-item>
                    </div>
                </md-list>
            </md-content>
        </div>
    </div>
    <!--个人相册-->
    <div class="main_title main_panel">
        <div class="main_phtot_title">
            <h3>
                个人相集
            </h3>
        </div>
        <div class="main_photo" layout="row">
            <main-photo ng-show="readPhotoList" ng-repeat="photo in photoList"></main-photo>
            <div ng-show="!readPhotoList" class="conch_loding" layout="row" layout-align="center center">
                <span style="margin-right: 20px">正在加载个人相集</span>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
   <!-- 友情链接-->
    <div class="main_title main_panel">
        <div>
            <h3>
                友情链接
            </h3>
        </div>
        <div class="main_ship" ng-show="shiplink.length>0">
            <conch-shiplink ng-show="readShipList" ng-repeat="ship in shiplink"></conch-shiplink>
            <div ng-show="!readShipList" class="conch_loding" layout="row" layout-align="center center">
                <span style="margin-right: 20px">正在加载友情链接</span>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
        <div class="main_ship" ng-show="shiplink.length<1">
            <span style="width: 100%;font-size: 18px;margin-top: 20px">
                <md-icon md-svg-src="fonts/myfonts/cry.svg" style="color: black;margin-right: 10px;"></md-icon>竟然没人跟我友链！嘤嘤嘤......
            </span>
        </div>
    </div>
</div>