<md-dialog aria-label="在线留言" ng-controller="newDialog"
           flex-xl="35" flex-lg="45" flex-md="55" flex-sm="65" flex-xs="100" >
    <md-toolbar class="main-list-title">
        <div class="md-toolbar-tools">
            <h2>在线留言</h2>
            <span flex></span>
            <button class="btn btn-danger" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </md-toolbar>
    <form name="newsForm">
        <div layout="column" style="padding: 15px 15px 0px 15px">
            <div layout="row" layout-sm="column" layout-xs="column" flex="100">
                <md-input-container flex="50" flex-sm="100" flex-xs="100" style="margin: 10px 0px 5px 0px"  >
                    <label>标题</label>
                    <input name="newsTitle" ng-model="news.data.newTitle" required>
                    <div ng-messages="newsForm.newsTitle.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">请输入标题！</div>
                    </div>
                </md-input-container>
                <md-input-container flex="50" flex-sm="100" flex-xs="100"   style="margin: 10px 0px 5px 0px">
                    <label>类别</label>
                    <md-select ng-model="news.data.newType" name="newsCate" required>
                        <md-option ng-repeat="cate in newCate" ng-value="cate" required>
                            {{cate}}
                        </md-option>
                    </md-select>
                    <div ng-messages="newsForm.newsCate.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">
                            类别不能为空
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex="100">
                <md-input-container flex="100" style="margin:10px 0px 5px 0px">
                    <label>内容</label>
                    <textarea name="newsContext" ng-model="news.data.newBody" md-maxlength="450" rows="5" md-select-on-focus></textarea>
                    <div ng-messages="newsForm.newsContext.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">请输入内容！</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex="100" layout-align="end center">
                <img src="data:image/jpg;base64,{{checkimgs.img}}" alt="" style="margin: -30px 5px 0px 5px; max-width: 80px;height: 30px;border: 1px solid #aaaaaa" ng-click="getValidate()">
                <md-input-container style="margin: 5px 0px 5px 0px">
                    <input type="text" name="usercheck" ng-model="news.usvalidate.name" placeholder="输入验证码" required>
                    <div ng-messages="userForm.usercheck.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">请输入验证码</div>
                    </div>
                </md-input-container>
            </div>
        </div>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('')">
                取消
            </md-button>
            <md-button ng-click="addNews()" ng-disabled="newsForm.$invalid">
                发布
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>